<a href="https://colab.research.google.com/github/smkandel/Courses/blob/main/Copy_of_TakeoBDS29_07JUN2023_DS_Preprocessing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**Data Preprocessing**
    1. Dataset selection
    2. Selection Libraries
        1. NumPy
        2. Pandas
        3. Matplotlib
        4. sklearn (scikit-learn)
    3. Importing Dataset in Python environment
    4. Missing value
    5. Categorical Data (Dummy value)
    6. Convert dataset in train and test
    7. Normalization of Data

![image.png]()

![image.png]()

![image.png]()

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [ ]:
df = pd.read_csv('/content/Data.csv')
df

FileNotFoundError: ignored

In [ ]:
df_data3 = pd.read_csv('/content/Data3.csv')
df_data3

   Country   Age   Salary Most_Freq Constant Purchased
0   France  44.0  72000.0      Pune    India        No
1    Spain  27.0  48000.0      Pune    India       Yes
2  Germany  30.0  54000.0    Mumbai    India        No
3    Spain  38.0  61000.0      Pune    India        No
4  Germany  40.0      NaN      Pune    India       Yes
5   France  35.0  58000.0    Nagpur    India       Yes
6    Spain   NaN  52000.0      Pune    India        No
7   France  48.0  79000.0       NaN    India       Yes
8  Germany  50.0  83000.0    Mumbai    India        No
9   France  37.0  67000.0      Pune      NaN       Yes

In [ ]:
X = df.iloc[:,:-1].values # independent
y = df.iloc[:,-1].values # dependent

In [ ]:
X1 = df_data3.iloc[:,:-1].values # independent
y1 = df_data3.iloc[:,-1].values # dependent

In [ ]:
# Missing value

from sklearn.impute import SimpleImputer
# sklearn.impute.SimpleImputer
imputer = SimpleImputer(missing_values=np.nan, strategy='mean')

imputer.fit(X[:,1:3])
X[:,1:3]= imputer.transform(X[:,1:3])

In [ ]:
# Missing value

from sklearn.impute import SimpleImputer
# sklearn.impute.SimpleImputer
imputer = SimpleImputer(missing_values=np.nan, strategy='most_frequent')

imputer.fit(X1[:,3:4])
X1[:,3:4]= imputer.transform(X1[:,3:4])
print(X1)

[['France' 44.0 72000.0 'Pune' 'India']
 ['Spain' 27.0 48000.0 'Pune' 'India']
 ['Germany' 30.0 54000.0 'Mumbai' 'India']
 ['Spain' 38.0 61000.0 'Pune' 'India']
 ['Germany' 40.0 nan 'Pune' 'India']
 ['France' 35.0 58000.0 'Nagpur' 'India']
 ['Spain' nan 52000.0 'Pune' 'India']
 ['France' 48.0 79000.0 'Pune' 'India']
 ['Germany' 50.0 83000.0 'Mumbai' 'India']
 ['France' 37.0 67000.0 'Pune' nan]]

In [ ]:
# Missing value

from sklearn.impute import SimpleImputer
# sklearn.impute.SimpleImputer
imputer = SimpleImputer(missing_values=np.nan, strategy='constant', fill_value= 'India')

imputer.fit(X1[:,4:5])
X1[:,4:5]= imputer.transform(X1[:,4:5])
print(X1)

[['France' 44.0 72000.0 'Pune' 'India']
 ['Spain' 27.0 48000.0 'Pune' 'India']
 ['Germany' 30.0 54000.0 'Mumbai' 'India']
 ['Spain' 38.0 61000.0 'Pune' 'India']
 ['Germany' 40.0 nan 'Pune' 'India']
 ['France' 35.0 58000.0 'Nagpur' 'India']
 ['Spain' nan 52000.0 'Pune' 'India']
 ['France' 48.0 79000.0 'Pune' 'India']
 ['Germany' 50.0 83000.0 'Mumbai' 'India']
 ['France' 37.0 67000.0 'Pune' 'India']]

In [ ]:
X

array([['France', 44.0, 72000.0],
       ['Spain', 27.0, 48000.0],
       ['Germany', 30.0, 54000.0],
       ['Spain', 38.0, 61000.0],
       ['Germany', 40.0, 63777.77777777778],
       ['France', 35.0, 58000.0],
       ['Spain', 38.77777777777778, 52000.0],
       ['France', 48.0, 79000.0],
       ['Germany', 50.0, 83000.0],
       ['France', 37.0, 67000.0]], dtype=object)

![image.png]()

In [ ]:
from sklearn.compose import ColumnTransformer # sklearn.compose.ColumnTransformer
from sklearn.preprocessing import OneHotEncoder # sklearn.preprocessing.OneHotEncoder
ct = ColumnTransformer(transformers=[('encoder', OneHotEncoder(), [0])], remainder='passthrough')
X = np.array(ct.fit_transform(X))

In [ ]:
X

In [ ]:
df_data4 = pd.read_csv('/content/Data4.csv')
df_data4

   Country  Colour   Age   Salary Most_Freq Constant Purchased
0   France     Red  44.0  72000.0      Pune    India        No
1    Spain  Yellow  27.0  48000.0      Pune    India       Yes
2  Germany    Blue  30.0  54000.0    Mumbai    India        No
3    Spain    Pink  38.0  61000.0      Pune    India        No
4  Germany   Green  40.0      NaN      Pune    India       Yes
5   France     Red  35.0  58000.0    Nagpur    India       Yes
6    Spain  Yellow   NaN  52000.0      Pune    India        No
7   France    Blue  48.0  79000.0       NaN    India       Yes
8  Germany    Pink  50.0  83000.0    Mumbai    India        No
9   France   Green  37.0  67000.0      Pune      NaN       Yes

In [ ]:
X = df_data4.iloc[:,:-1].values # independent
y = df_data4.iloc[:,-1].values # dependent

In [ ]:
X

array([['France', 'Red', 44.0, 72000.0, 'Pune', 'India'],
       ['Spain', 'Yellow', 27.0, 48000.0, 'Pune', 'India'],
       ['Germany', 'Blue', 30.0, 54000.0, 'Mumbai', 'India'],
       ['Spain', 'Pink', 38.0, 61000.0, 'Pune', 'India'],
       ['Germany', 'Green', 40.0, nan, 'Pune', 'India'],
       ['France', 'Red', 35.0, 58000.0, 'Nagpur', 'India'],
       ['Spain', 'Yellow', nan, 52000.0, 'Pune', 'India'],
       ['France', 'Blue', 48.0, 79000.0, nan, 'India'],
       ['Germany', 'Pink', 50.0, 83000.0, 'Mumbai', 'India'],
       ['France', 'Green', 37.0, 67000.0, 'Pune', nan]], dtype=object)

In [ ]:
y

array(['No', 'Yes', 'No', 'No', 'Yes', 'Yes', 'No', 'Yes', 'No', 'Yes'],
      dtype=object)

In [ ]:
from sklearn.compose import ColumnTransformer # sklearn.compose.ColumnTransformer
from sklearn.preprocessing import OneHotEncoder # sklearn.preprocessing.OneHotEncoder
ct = ColumnTransformer(transformers=[('encoder', OneHotEncoder(), [0,1,4,5])], remainder='passthrough')
X = np.array(ct.fit_transform(X))

In [ ]:
X

array([[1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 1.0, 0.0, 1.0,
        0.0, 44.0, 72000.0],
       [0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 1.0, 0.0, 1.0,
        0.0, 27.0, 48000.0],
       [0.0, 1.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 1.0,
        0.0, 30.0, 54000.0],
       [0.0, 0.0, 1.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 1.0,
        0.0, 38.0, 61000.0],
       [0.0, 1.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 1.0,
        0.0, 40.0, nan],
       [1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 1.0, 0.0, 0.0, 1.0,
        0.0, 35.0, 58000.0],
       [0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 1.0, 0.0, 1.0,
        0.0, nan, 52000.0],
       [1.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 1.0,
        0.0, 48.0, 79000.0],
       [0.0, 1.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 1.0,
        0.0, 50.0, 83000.0],
       [1.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0,
        1.0, 37.0, 67000.0]], dtype=object)

In [ ]:
from sklearn.model_selection import train_test_split
# sklearn.model_selection.train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

In [ ]:
X_train, X_test, y_train, y_test

(array([[0.0, 1.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 1.0,
         0.0, 40.0, nan],
        [1.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0,
         1.0, 37.0, 67000.0],
        [0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 1.0, 0.0, 1.0,
         0.0, 27.0, 48000.0],
        [0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 1.0, 0.0, 1.0,
         0.0, nan, 52000.0],
        [1.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 1.0,
         0.0, 48.0, 79000.0],
        [0.0, 0.0, 1.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 1.0,
         0.0, 38.0, 61000.0],
        [1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 1.0, 0.0, 1.0,
         0.0, 44.0, 72000.0],
        [1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 1.0, 0.0, 0.0, 1.0,
         0.0, 35.0, 58000.0]], dtype=object),
 array([[0.0, 1.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 1.0,
         0.0, 30.0, 54000.0],
        [0.0, 1.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 1.0,
         0.0, 50.0, 83000.0]], dtype=object),
 array(['Yes', 'Yes', 'Yes', 'No', 'Yes', 'No', 'No', 'Yes'], dtype=object),
 array(['No', 'No'], dtype=object))

In [ ]:
from sklearn.model_selection import train_test_split
# sklearn.model_selection.train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=1)

In [ ]:
X_train, X_test, y_train, y_test

(array([[0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 1.0, 0.0, 1.0,
         0.0, nan, 52000.0],
        [0.0, 1.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 1.0,
         0.0, 40.0, nan],
        [1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 1.0, 0.0, 1.0,
         0.0, 44.0, 72000.0],
        [0.0, 0.0, 1.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 1.0,
         0.0, 38.0, 61000.0],
        [0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 1.0, 0.0, 1.0,
         0.0, 27.0, 48000.0],
        [1.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 1.0,
         0.0, 48.0, 79000.0],
        [0.0, 1.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 1.0,
         0.0, 50.0, 83000.0],
        [1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 1.0, 0.0, 0.0, 1.0,
         0.0, 35.0, 58000.0]], dtype=object),
 array([[0.0, 1.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 1.0,
         0.0, 30.0, 54000.0],
        [1.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0,
         1.0, 37.0, 67000.0]], dtype=object),
 array(['No', 'Yes', 'No', 'No', 'Yes', 'Yes', 'No', 'Yes'], dtype=object),
 array(['No', 'Yes'], dtype=object))

In [ ]:
X3=pd.read_csv('/content/Book1.csv')
X3

   weight  age  waterconsumption  height  foodconsumption
0     115   25                70     5.0               50
1     120   24                60     4.8               30
2     130   30                80     5.4               25
3     150   32                65     5.6               55
4     178   38                52     5.5               65
5     119   21                50     4.9               42
6     180   41                68     5.2               58

In [ ]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X3_train[:,3:] = sc.fit_transform(X3_train[:,3:])
X3_test[:,3:] = sc.transform(X3_test[:,3:])

NameError: ignored

In [ ]:
X_train, X_test

(array([[0.0, 0.0, 1.0, -0.3779644730092272, -0.3779644730092272,
         -0.5773502691896258, -0.5773502691896258, 1.7320508075688774,
         -0.3779644730092272, -0.3779644730092272, 0.7745966692414834,
         -0.3779644730092272, 0.0, 0.0, nan, -1.0182239953527132],
        [0.0, 1.0, 0.0, -0.3779644730092272, 2.6457513110645903,
         -0.5773502691896258, -0.5773502691896258, -0.5773502691896258,
         -0.3779644730092272, -0.3779644730092272, 0.7745966692414834,
         -0.3779644730092272, 0.0, 0.0, -0.038910211282047996, nan],
        [1.0, 0.0, 0.0, -0.3779644730092272, -0.3779644730092272,
         -0.5773502691896258, 1.7320508075688774, -0.5773502691896258,
         -0.3779644730092272, -0.3779644730092272, 0.7745966692414834,
         -0.3779644730092272, 0.0, 0.0, 0.5058327466666259,
         0.583476671494251],
        [0.0, 0.0, 1.0, -0.3779644730092272, -0.3779644730092272,
         1.7320508075688774, -0.5773502691896258, -0.5773502691896258,
         -0.3779644730092272, -0.3779644730092272, 0.7745966692414834,
         -0.3779644730092272, 0.0, 0.0, -0.3112816902563849,
         -0.2974586952715793],
        [0.0, 0.0, 1.0, -0.3779644730092272, -0.3779644730092272,
         -0.5773502691896258, -0.5773502691896258, 1.7320508075688774,
         -0.3779644730092272, -0.3779644730092272, 0.7745966692414834,
         -0.3779644730092272, 0.0, 0.0, -1.809324824615238,
         -1.3385641287221062],
        [1.0, 0.0, 0.0, 2.6457513110645903, -0.3779644730092272,
         -0.5773502691896258, -0.5773502691896258, -0.5773502691896258,
         -0.3779644730092272, -0.3779644730092272, -1.2909944487358056,
         2.6457513110645903, 0.0, 0.0, 1.0505757046152997,
         1.1440719048906884],
        [0.0, 1.0, 0.0, -0.3779644730092272, -0.3779644730092272,
         1.7320508075688774, -0.5773502691896258, -0.5773502691896258,
         2.6457513110645903, -0.3779644730092272, -1.2909944487358056,
         -0.3779644730092272, 0.0, 0.0, 1.3229471835896367,
         1.4644120382600814],
        [1.0, 0.0, 0.0, -0.3779644730092272, -0.3779644730092272,
         -0.5773502691896258, 1.7320508075688774, -0.5773502691896258,
         -0.3779644730092272, 2.6457513110645903, -1.2909944487358056,
         -0.3779644730092272, 0.0, 0.0, -0.7198389087178904,
         -0.537713795298624]], dtype=object),
 array([[0.0, 1.0, 0.0, 2.6457513110645903, -0.3779644730092272,
         -0.5773502691896258, -0.5773502691896258, -0.5773502691896258,
         2.6457513110645903, -0.3779644730092272, -1.2909944487358056,
         -0.3779644730092272, 0.0, 0.0, -1.4007676061537326,
         -0.8580539286680168],
        [1.0, 0.0, 0.0, -0.3779644730092272, 2.6457513110645903,
         -0.5773502691896258, -0.5773502691896258, -0.5773502691896258,
         -0.3779644730092272, -0.3779644730092272, 0.7745966692414834,
         -0.3779644730092272, -1.0, 1.0, -0.4474674297435534,
         0.18305150478250995]], dtype=object))

In [ ]:
df1=pd.read_csv('/content/Book2.csv')
df1

    no_bhk  age locality  parking facilities   rent
0        2    5    rural        2          N   8000
1        2   10    urban        2          Y  15000
2        2   15    rural        3          N   9000
3        2    3    urban        2          Y  16000
4        3    2    rural        4          Y  12000
5        3    4    urban        2          Y  15000
6        3    5    rural        3          Y  12000
7        4    6    urban        3          Y  18000
8        4    7    rural        4          Y  15000
9        4    8    urban        2          Y  20000
10       4   10    rural        4          Y  14000
11       5    9    urban        2          Y  23000
12       5    8    rural        5          Y  19000
13       5   10    urban        4          Y  28000

In [ ]:
X = df1.iloc[:,:-1].values # independent
y = df1.iloc[:,-1].values # dependent

In [ ]:
X

array([[2, 5, 'rural', 2, 'N'],
       [2, 10, 'urban', 2, 'Y'],
       [2, 15, 'rural', 3, 'N'],
       [2, 3, 'urban', 2, 'Y'],
       [3, 2, 'rural', 4, 'Y'],
       [3, 4, 'urban', 2, 'Y'],
       [3, 5, 'rural', 3, 'Y'],
       [4, 6, 'urban', 3, 'Y'],
       [4, 7, 'rural', 4, 'Y'],
       [4, 8, 'urban', 2, 'Y'],
       [4, 10, 'rural', 4, 'Y'],
       [5, 9, 'urban', 2, 'Y'],
       [5, 8, 'rural', 5, 'Y'],
       [5, 10, 'urban', 4, 'Y']], dtype=object)

In [ ]:
y

array([ 8000, 15000,  9000, 16000, 12000, 15000, 12000, 18000, 15000,
       20000, 14000, 23000, 19000, 28000])

In [ ]:
from sklearn.compose import ColumnTransformer # sklearn.compose.ColumnTransformer
from sklearn.preprocessing import OneHotEncoder # sklearn.preprocessing.OneHotEncoder
ct = ColumnTransformer(transformers=[('encoder', OneHotEncoder(), [2,4])], remainder='passthrough')
X = np.array(ct.fit_transform(X))

In [ ]:
X

array([[1.0, 0.0, 1.0, 0.0, 2, 5, 2],
       [0.0, 1.0, 0.0, 1.0, 2, 10, 2],
       [1.0, 0.0, 1.0, 0.0, 2, 15, 3],
       [0.0, 1.0, 0.0, 1.0, 2, 3, 2],
       [1.0, 0.0, 0.0, 1.0, 3, 2, 4],
       [0.0, 1.0, 0.0, 1.0, 3, 4, 2],
       [1.0, 0.0, 0.0, 1.0, 3, 5, 3],
       [0.0, 1.0, 0.0, 1.0, 4, 6, 3],
       [1.0, 0.0, 0.0, 1.0, 4, 7, 4],
       [0.0, 1.0, 0.0, 1.0, 4, 8, 2],
       [1.0, 0.0, 0.0, 1.0, 4, 10, 4],
       [0.0, 1.0, 0.0, 1.0, 5, 9, 2],
       [1.0, 0.0, 0.0, 1.0, 5, 8, 5],
       [0.0, 1.0, 0.0, 1.0, 5, 10, 4]], dtype=object)

In [ ]:
from sklearn.model_selection import train_test_split
# sklearn.model_selection.train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)
X_train, X_test, y_train, y_test

(array([[0.0, 1.0, 0.0, 1.0, 5, 9, 2],
        [1.0, 0.0, 1.0, 0.0, 2, 15, 3],
        [0.0, 1.0, 0.0, 1.0, 5, 10, 4],
        [0.0, 1.0, 0.0, 1.0, 4, 8, 2],
        [0.0, 1.0, 0.0, 1.0, 2, 10, 2],
        [0.0, 1.0, 0.0, 1.0, 4, 6, 3],
        [1.0, 0.0, 0.0, 1.0, 4, 10, 4],
        [0.0, 1.0, 0.0, 1.0, 2, 3, 2],
        [1.0, 0.0, 1.0, 0.0, 2, 5, 2],
        [0.0, 1.0, 0.0, 1.0, 3, 4, 2],
        [1.0, 0.0, 0.0, 1.0, 5, 8, 5]], dtype=object),
 array([[1.0, 0.0, 0.0, 1.0, 4, 7, 4],
        [1.0, 0.0, 0.0, 1.0, 3, 5, 3],
        [1.0, 0.0, 0.0, 1.0, 3, 2, 4]], dtype=object),
 array([23000,  9000, 28000, 20000, 15000, 18000, 14000, 16000,  8000,
        15000, 19000]),
 array([15000, 12000, 12000]))

In [ ]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train[:,4:] = sc.fit_transform(X_train[:,4:])
X_test[:,4:] = sc.transform(X_test[:,4:])

In [ ]:
X_train, X_test

(array([[0.0, 1.0, 0.0, 1.0, 1.2532566273166255, 0.30794088102571987,
         -0.7954951288348661],
        [1.0, 0.0, 1.0, 0.0, -1.179535649239177, 2.155586167180039,
         0.1767766952966367],
        [0.0, 1.0, 0.0, 1.0, 1.2532566273166255, 0.6158817620514397,
         1.1490485194281395],
        [0.0, 1.0, 0.0, 1.0, 0.44232586846469135, 0.0,
         -0.7954951288348661],
        [0.0, 1.0, 0.0, 1.0, -1.179535649239177, 0.6158817620514397,
         -0.7954951288348661],
        [0.0, 1.0, 0.0, 1.0, 0.44232586846469135, -0.6158817620514397,
         0.1767766952966367],
        [1.0, 0.0, 0.0, 1.0, 0.44232586846469135, 0.6158817620514397,
         1.1490485194281395],
        [0.0, 1.0, 0.0, 1.0, -1.179535649239177, -1.5397044051285993,
         -0.7954951288348661],
        [1.0, 0.0, 1.0, 0.0, -1.179535649239177, -0.9238226430771597,
         -0.7954951288348661],
        [0.0, 1.0, 0.0, 1.0, -0.36860489038724287, -1.2317635241028795,
         -0.7954951288348661],
        [1.0, 0.0, 0.0, 1.0, 1.2532566273166255, 0.0, 2.1213203435596424]],
       dtype=object),
 array([[1.0, 0.0, 0.0, 1.0, 0.44232586846469135, -0.30794088102571987,
         1.1490485194281395],
        [1.0, 0.0, 0.0, 1.0, -0.36860489038724287, -0.9238226430771597,
         0.1767766952966367],
        [1.0, 0.0, 0.0, 1.0, -0.36860489038724287, -1.8476452861543193,
         1.1490485194281395]], dtype=object))